* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.otp_input {
    width: 30px;
    height: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.otp_input:focus {
    background-color: yellowgreen;
}